<html>
    <head>
        <link href="../base.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="imgVue">
            <span v-bind:title="meMouse">
                <img class="img about" src="../../Resources/Aboutok.png">
            </span>
        </div>
        <div style="line-height: 120%">
            <p>Site desenvolvido para a máteria de <b>Introdução a Web</b> da Turma da noite.</p>
            <p>Smaug desenvolvido por <b>Leticia R</b>, do quarto semestre do Curso de <b>Jogos Digitais</b>.</p>
            <p>Busca apresentar de forma <b>simplificada</b> uma interface clara e amistosa para o público <b>infantil</b>, que é o público-alvo desse projeto.</p>
            <h1>Segundo Semestre 2018</h1>
        </div>
        <script src="../src/funcoes.js"></script>
    </body>
</html>
