<html>
    <head>
        <meta charset="utf-8">
        <script src="./js/bootstrap.min.js"></script>
        <link href="../base.css" rel="stylesheet">
    </head>
    <body>
        <div class="conteudo cadastro">
            <form action="../comment.php">
                <div class="container">	
                    <h1>De cadastre como nosso cliente!</h1>
                    <label><p>Nome completo:</p></label>
                    <input class="form-control" type="text" id="Nome" size="100">
                    <label><p>Email:</p></label>
                    <input class="form-control" type="email" id="Email" size="100">
                    <label><p>Comentarios:</p></label>
                    <textarea class="form-control" type="text" id="Comentario" row="3"></textarea>
                    <br>
                    <input type="submit" id="enviar" value="Envie!">
                </div>
            </form>
        </div>
        <div>
            <br><h1>Ultimos comentarios enviados!</h1>
            <br><br>
            <p>
            <table class="table">
                <tr>
                    <th>Nome:</th>
                    <th>Comentario:</th>
                </tr>
                <?php
                    foreach($lista as &$comment) {
                    ?>
                    <tr>
                        <td><?=$comment['Nome']?></td>
                        <td><?=$comment['Comentario']?></td>
                    </tr>
                <?php } ?>
            </table>
            </p>
        </div>
    </body>
</html>
