<html>
    <head>
        <link href="../modules/css/bootstrap.min.css" rel="stylesheet">
        <link href="../base.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div style="margin:30px">
            <img width="400" src="https://media.giphy.com/media/Y1YDY0l7muCQ0/giphy.gif" style="float: right">
            <h1>
                Reality Escape Book
            </h1>
            <p><b>Gênero</b>:  Escape Room, Point Click</p>
            <p><b>Tema</b>: Suspense, Exploração, AR</p>
            <p><b>Referencias</b>: Machinarium, Broken Age, Dishonored.</p>
            <p><b>Sinopse</b>: Antes mesmo de abrir os olhos, uma dor de cabeça te invade junto com uma lembrança, você precisa ir para sua festa de formatura, mas agora sabe que existe algo mais importante. Ao abrir os olhos, se depara com o ambiente que já se encontrava com eles fechados — Está tudo completamente escuro. Você se vira e percebe uma pequena entrada de luz passando entre as frestas da cortina, não muito, mas o suficiente para entender que está na sala de aula e que já é de manhã.
            Uma sensação de tristeza e duvida pesa em seu peito, mas sua cabeça dói o suficiente para te impedir de lembrar o motivo.
            Você se levanta para abrir as cortinas e diz consigo mesmo:
            “O que aconteceu ontem à noite?”<br/></p> 
            <div style="text-align: center">
                <a href="../../Resources/smaugo.pdf"><button class=button>DOWNLOAD</button></a>
                <form>
                    <div class="form-group">
                        <h1>Envie um comentario para nós</h1>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                        <button></button>>
                    </div>
                </form> 
                <p id="buttonRespon"></p>
            </div>
        </div>
        <div class="comment">
        </div>
        <script src="../../src/funcoes.js"></script>
    </body>
</html>